* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #27374D;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  position: relative;
  font-size: 14vw;
  color: #27374D;
  -webkit-text-stroke: .3vw #526D82;
}
h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #DDE6ED;
  border-right: 2px solid #DDE6ED;
  -webkit-text-stroke: 0;
  overflow: hidden;
  animation: animate 6s infinite;
}
@keyframes animate {
  0% {
    width: 0%;
  }
  60% {
    width: 100%;
  }
}